<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Routing name="Routing">
            <Routes pattern="$${ctx:ROUTINGKEY}">
                <Route key="daemon">
                    <File name="daemon" fileName="/Users/finley/Finley/workspace/java/Suishoushu/out/daemon.log" append="false">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
                    </File>
                </Route>
                <Route key="$${ctx:ROUTINGKEY}">
                    <File name="suishoushu" fileName="/Users/finley/Finley/workspace/java/Suishoushu/out/suishoushu.log" append="false">
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Routing"/>
        </Root>
    </Loggers>
</Configuration>